# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Virtual environments
# ===============================
venv/
env/
.venv/

# ===============================
# Data files (large / private)
# ===============================
data/
*.csv
*.zip

# ===============================
# Logs
# ===============================
*.log
